

.custom-bg{
    background-image: linear-gradient(to top, #253898 , #5737D6 );
}
 

.btn-custom{
    background-color: #383CC1;
    color: white;
}


.title-custom{
    color:white;
    border: 1px solid #383CC1;
    display: inline-block;
    border-radius: 2rem;
    background-color: #383CC1;
    display: flex;
    justify-content: center; 
    width: 500px; 
    margin-left:7rem;
}